$primary-color: #1e201e;
$secondary-color: #54645f;
$primary-background: #e9e8e8;
$secondary-background: #06e6f6;
$input-background: #4c4c4c;
$font-color: #1b1b19;
$font-family: "Montserrat", sans-serif;
$header-font-color: $font-color;
$header-background: $primary-background;
$meganav-font-color: $font-color;
$meganav-background: $primary-background;
$footer-font-color: $font-color;
$footer-background: $primary-background;
$secondary-font-color: $font-color;
$global-border-style: #e2e2e2;
$second-global-border: #e2e2e2;
$spree-header-max-width: 1440px;
$spree-header-mobile-height: 50px;
$spree-header-tablet-height: 75px;
$spree-header-desktop-height: 75px;
